.button-pane {
    -fx-max-width: 25;
    -fx-max-height: 25;
    -fx-min-width: 25;
    -fx-min-height: 25;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 16 16;
    -fx-background-position: center;
}

.butCircle {
    -fx-background-image: url(../image/circle.png);
}

.butSquare {
    -fx-background-image: url(../image/square.png);
}